[user]
    name = TomL
    email = addr.toml@gmail.com

[alias]
    a = add -A
    cm = commit -m
    co = checkout
    cb = checkout -b
    s = status

[core]
    editor = vim

[pull]
    rebase = false

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    line-numbers = true

[interactive]
    diffFilter = delta --color-only
[init]
    defaultBranch = main
[color]
    ui = auto